@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SOGANGUNIVERSITYTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SOGANGUNIVERSITYTTF";
}
